<!DOCTYPE html>
<html>
<head>
  <title>Watchd</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "templates/all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="#" class="brand">watchd</a>
      </div>
    </div>
  </div>

  <!-- wrapped with container in application.handlebars -->
  <%= yield %>

</body>
</html>
